# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Utilisateur\OneDrive - Université Libre de Bruxelles\Documents\Cours\MA1\Q1\ELEC-H417\Networks_Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
